# Virtual Environment
.venv/
venv/
ENV/
env/
miniconda/
.req_hash

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# PyInstaller & Build outputs
build/
dist/
Output/
export/
export.zip
AppSetup.iss

# IDE & OS Files
.vscode/
.idea/
.DS_Store

# Hardware-specific TensorRT engines (Mỗi máy nên tự build lại engine từ ONNX)
*.engine
*.zip

